<IfModule mod_headers.c>
    SetEnvIf Origin "^https?://(gewe\.dpdns\.org)$" ACAO=$0
    Header set Access-Control-Allow-Origin %{ACAO}e env=ACAO
    Header set Access-Control-Allow-Methods "GET, POST, OPTIONS"
    Header set Access-Control-Allow-Headers "Content-Type, Accept, Authorization"
    Header set Vary "Origin"
</IfModule>

#
# 浏览器发送OPTIONS请求时，直接返回204 No Content
#
RewriteEngine On
RewriteCond %{REQUEST_METHOD} OPTIONS
RewriteRule ^(.*)$ $1 [R=204,L]
