# Dependencies
/node_modules
/frontend/node_modules
/backend/vendor

# Build output
/frontend/build

# IDE and OS files
.idea/
.vscode/
*.swp
*~
.DS_Store

# Android files
/android/.gradle/
/android/build/
/android/app/build/
*.apk
*.aab
release-key.jks
