/* frontend/src/components/common/Hand.css */
.hand {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  min-height: 125px;
}

.card-container {
  transition: transform 0.2s ease-out;
}

.card-container.selected {
  transform: translateY(-20px);
}
